.App {
  text-align: center;
}

.enterDataTab{
  position:absolute;
  width:90%;
  left:5%;
  top:2%;
  height:40%;

  background-color: aquamarine;
}
.inputPanel{
  position:absolute;
  width:25%;
  left:5%;
  top:5%;
  height:90%;
  background-color: rgb(197, 127, 255);
}
.singularInput{
  position:absolute;
  width:90%;
  left:5%;

  height:20%;
  background-color: rgb(176, 139, 206);
  text-align: center;
  justify-content: center;
}
.subjectInput{
  top:10%;
}
.classInput{
  top:40%;
}
.lengthInput{
  top:70%;
}